/* changes to global variables */
body {
    --file-line-width: 100%;  /* 좌우 전체 크기로 보기 */
    --p-spacing: 1.5rem;
    --p-spacing-empty: 1.5rem;
    --heading-spacing: 0.5rem;
    --list-spacing: 0.3rem;
    --line-height-normal: 1.7rem;
}